@model IEnumerable<WardrobeApp.Models.Outfit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Outfit
        </th>
        <th>
            Top
        </th>
        <th>
            Bottom
        </th>
        <th>
            Shoe
        </th>
        <th>
            Occasion
        </th>
        <th>
           Season
        </th>
        <th>
            Accessories
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OutfitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Top.TopName)
                <img class="photo" src="@Url.Content(item.Top.TopPhoto)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bottom.BotName)
                <img class="photo" src="@Url.Content(item.Bottom.BotPhoto)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shoe.ShoeName)
                <img class="photo" src="@Url.Content(item.Shoe.ShoePhoto)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occasion.OccasionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Season.SeasonName)
            </td>
            <td>
                @foreach (var accessory in item.Accessories)
                {
                    <div>@Html.DisplayFor(modelItem => accessory.AccessoryName)</div>
                    <img class="photo" src="@Url.Content(accessory.AccessoryPhoto)" />
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OutfitID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OutfitID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OutfitID })
            </td>
        </tr>
    }

</table>
