@model IEnumerable<WardrobeApp.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BotName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BotColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BotPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BotName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BotColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BotPhoto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BottomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BottomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
        </td>
    </tr>
}

</table>
