@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Closet</h1>
        
        @Html.ActionLink("View Outfits ", "Index", "Outfits", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
    </div>

    <div class="row">

        <div class="col-md-3">
            <h2>Tops</h2>
            <p>Click the button for Top Catalog.</p>
            @Html.ActionLink("Tops", "Index", "Tops", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            <h2>Bottoms</h2>
            <p>Click the button for Bottom Catalog..</p>
            @Html.ActionLink("Bottoms", "Index", "Bottoms", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            <h2>Shoes</h2>
            <p>Click the button for Shoe Catalog.</p>
            @Html.ActionLink("Shoes", "Index", "Shoes", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </div>
        <div class="col-md-3">
            <h2>Accessories</h2>
            <p>Click the button for Accessories list</p>
            @Html.ActionLink("Accessories", "Index", "Accessories", new { area = "" }, new { @class = "btn btn-primary btn-lg" })
        </div>
    </div>
