@model IEnumerable<WardrobeApp.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Accessory
        </th>
        <th>
            Color
        </th>
        <th>
           Photo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessoryColor)
        </td>
        <td>
            <img class="photo" src="@Url.Content(item.AccessoryPhoto)" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AccessoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoryID })
        </td>
    </tr>
}

</table>
